$dark-blue: #454851;

.sidebar-container {
    font-size: 13px;
    position: relative;
    background-color: $dark-blue;

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 260px;
        white-space: nowrap;
        position: sticky;
        top: 0;
        left: 0;
        transition: transform 0.3s linear;

        &.hide {
            transform: translateX(-76%);

            .logo {
                opacity: 0;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            opacity: 1;
            transition: opacity 0.1s linear;
            color: #3C91E6;

            span {
                font-size: 22px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            h3 {
                margin: 0;
                font-size: 22px;
                color: #3C91E6;
                font-weight: 550;
                font-style: italic;
            }

        }

        button {
            background-color: $dark-blue;
            border: none;
            outline: none;
            width: 60px;
            transition: all 0.3s linear;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 22px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                color: #3C91E6;
            }
        }
    }

    ul.sidebar {
        height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
        background-color: $dark-blue;
        color: #fff;
        transition: all 0.3s linear;
        user-select: none;

        &.ant-menu-vertical,
        &.ant-menu-inline,
        &.ant-menu-vertical-left {
            border-right: none;
        }

        &.ant-menu.ant-menu-inline-collapsed {
            width: 60px;
        }

        li.ant-menu-item {
            background-color: $dark-blue;
            color: #fff;
            margin: 0;
            user-select: none;

            // &.ant-menu-item-selected {
            //     background-color: #3C91E6;
            // }
        }

        li.ant-menu-submenu {
            background-color: $dark-blue;
            margin: 0;
            color: #fff;
            user-select: none;

            &.ant-menu-submenu-open .ant-menu-submenu-title:active {
                background-color: #3C91E6 !important;
            }
        }
    }
}


// "./node_modules/ng-zorro-antd/ng-zorro-antd.min.css",